supabase/functions/n8n-workflows/workflow-pipeline.json
{
  "name": "Ekthos — Pipeline Stage Changed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ekthos-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-pipeline",
      "name": "Webhook — Pipeline Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ekthos-pipeline"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mlqjywqnchilvgkbvicd.supabase.co/functions/v1/n8n-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"{{ $json.body.event }}\",\n  \"church_id\": \"{{ $json.body.church_id }}\",\n  \"person_id\": \"{{ $json.body.person_id }}\",\n  \"stage_id\": \"{{ $json.body.stage_id }}\",\n  \"loss_reason\": \"{{ $json.body.loss_reason }}\",\n  \"secret_token\": \"e23e1e092e60b7ac6a641903e397f04a8d7c7bf493e01d7852a6d0dcba9b53c2\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-notify-pipeline",
      "name": "Chamar n8n-notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-pipeline",
      "name": "Responder Supabase",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook — Pipeline Event": {
      "main": [
        [
          {
            "node": "Chamar n8n-notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar n8n-notify": {
      "main": [
        [
          {
            "node": "Responder Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["ekthos"],
  "meta": {
    "instanceId": "ekthos-pipeline-workflow"
  }
}
